
table
  table-layout: fixed

.splash
  margin-right: auto
  margin-left: auto
  background-color: #888
  width: 30em
  border-radius: 2em
  padding: 2em
  text-align: center
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2)
  color: #eee

.guide-select
  margin-bottom: 3em
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2)
  font-size: 1.3em
  &>div>button
    font-weight: 600
    background-color: #eee


.table-header
  text-align: center

.field-selecting-th.caved-in
  background-color: #ccc
  box-shadow: inset 0 2px 2px 2px rgba(0, 0, 0, 0.1)
  &:hover
    background-color: #ccc
    box-shadow: inset 0 2px 2px 2px rgba(0, 0, 0, 0.1)


.field-selecting-th
  color: #ccc
  position: relative
  height: 20px
  text-align: center
  font-size: 1em
  cursor: pointer
  &:hover
    background-color: #eee
  &>i
    position: relative
    font-size: 2.5em
    top: -20px
    color: white
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2)

.clickable-header
  cursor: pointer
  &:hover
    background-color: #ddd

.clr-blue
  background-color: #000
  color:#0000AA
.clr-green
  background-color: #000
  color:#00AA00
.clr-cyan
  background-color: #000
  color:#00AAAA
.clr-red
  background-color: #000
  color:#AA0000
.clr-magenta
  background-color: #000
  color:#AA00AA
.clr-brown
  background-color: #000
  color:#AA5500
.clr-lightgray
  background-color: #000
  color:#AAAAAA
.clr-darkgray
  background-color: #000
  color:#555555
.clr-brightblue
  background-color: #000
  color:#5555FF
.clr-brightgreen
  background-color: #000
  color:#55FF55
.clr-brightcyan
  background-color: #000
  color:#55FFFF
.clr-orange
  background-color: #000
  color:#FF5555
.clr-brightmagenta
  background-color: #000
  color:#FF55FF
.clr-yellow
  background-color: #000
  color:#FFFF55
.clr-white
  background-color: #000
  color:#FFFFFF
