table {
  table-layout: fixed; }

.splash {
  margin-right: auto;
  margin-left: auto;
  background-color: #888;
  width: 30em;
  border-radius: 2em;
  padding: 2em;
  text-align: center;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  color: #eee; }

.guide-select {
  margin-bottom: 3em;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  font-size: 1.3em; }
  .guide-select > div > button {
    font-weight: 600;
    background-color: #eee; }

.table-header {
  text-align: center; }

.field-selecting-th.selected {
  background-color: #e0ffe0;
  color: #aaa; }
  .field-selecting-th.selected:hover {
    background-color: #d0f0d0; }

.field-selecting-th {
  box-shadow: inset 0 4px 2px -2px rgba(0, 0, 0, 0.1);
  color: #9f9f9f;
  position: relative;
  height: 20px;
  text-align: center;
  font-size: 1em;
  cursor: pointer; }
  .field-selecting-th:hover {
    background-color: #eee; }
  .field-selecting-th > i {
    position: relative;
    font-size: 2.5em;
    top: -20px;
    color: white;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); }

.clickable-header {
  cursor: pointer; }
  .clickable-header:hover {
    background-color: #ddd; }

.clr-blue {
  background-color: #000;
  color: #0000AA; }

.clr-green {
  background-color: #000;
  color: #00AA00; }

.clr-cyan {
  background-color: #000;
  color: #00AAAA; }

.clr-red {
  background-color: #000;
  color: #AA0000; }

.clr-magenta {
  background-color: #000;
  color: #AA00AA; }

.clr-brown {
  background-color: #000;
  color: #AA5500; }

.clr-lightgray {
  background-color: #000;
  color: #AAAAAA; }

.clr-darkgray {
  background-color: #000;
  color: #555555; }

.clr-brightblue {
  background-color: #000;
  color: #5555FF; }

.clr-brightgreen {
  background-color: #000;
  color: #55FF55; }

.clr-brightcyan {
  background-color: #000;
  color: #55FFFF; }

.clr-orange {
  background-color: #000;
  color: #FF5555; }

.clr-brightmagenta {
  background-color: #000;
  color: #FF55FF; }

.clr-yellow {
  background-color: #000;
  color: #FFFF55; }

.clr-white {
  background-color: #000;
  color: #FFFFFF; }
